.features {
  line-height: 24px;
  color: @color-darkblue;
  background-image: url(../../img/bg-triangle-white.svg);
  background-repeat: no-repeat;
  background-position: 0% 204px;
  background-size: 100%;
  background-color: @color-grey;

}

.features__slogan {
  padding-top: 46px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 24px;
  background-color: #ffffff;
}

.features__slogan--answer {
  padding-bottom: 40px;
}

.features__list {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  background: url("../img/iphone-screen-3-tablet@1x.png") no-repeat;
  //background-color: @color-grey;
  background-position: bottom center;
  background-size: 157px 300px;
  min-height: 810px;

}

.features__item {
  margin: 0 auto;
  max-width: 230px;
}

.features__title {
  padding-bottom: 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  color: #000000;
}

.features__description {
  padding-bottom: 39px;
  font-size: 14px;
  font-family: "Open Sans", "Arial", sans-serif;
}

.timer__aside {
  margin: 0 auto;
  text-align: left;
  display: none;

}

.timer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 238px;
  height: 276px;
  margin-right: 67px;
  background-image: url("../img/icon-timer.svg");
  background-size: 238px 276px;
  background-repeat: no-repeat;
}

.timer__title {
  margin-bottom: 10px;
  font-family: "Open Sans", "arial", sans-serif;
  font-size: 30px;
  line-height: 36px;
}

.timer__value {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  color: @color-red;
  font-family: "Open Sans", "arial", sans-serif;
  font-size: 96px;
  line-height: 149.5px;
  width: 202px;
  height: 202px;
  background-image: url(../img/icon-editor-diagram-fill.svg);
  background-size: 202px 202px;
  background-repeat: no-repeat;
}

.timer__description {
  display: flex;
  flex-direction: column;
}

.timer__text {
  margin-bottom: 10px;
  max-width: 280px;
  font-family: "Open Sans", "arial", sans-serif;
  font-size: 14px;
}

.timer__link {
  font-size: 14px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: @color-red;
  text-decoration: underline;
}

@media (min-width: @tablet-width) {

  .features__slogan {
    font-size: 40px;
    line-height: normal;
  }

  .features__slogan--answer {
    padding-top: 0px;
    padding-bottom: 50px;
  }

  .features__list {
    padding-top: 75px;
    padding-left: 230px;
    min-height: auto;
    text-align: left;
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-position: left 20px bottom;
    background-size: 268px 507px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-3-tablet@2x.png");
      background-size: 268px auto;
    }
  }

  .features__title {
    font-size: 24px;
  }

  .timer__aside {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
  }
}

@media (min-width: @tablet-width) {
  .features {
    background-position: 0% 258px;
  }

  .features__item {
    max-width: 315px;
  }

  .timer__aside {
    padding-top: 40px;
  }

  .timer__value {
    margin-top: 36px;
  }
}

@media (min-width: @desktop-width) {
  .features {
    line-height: 30px;
    background-position: 50% 316px;
  }

  .features__list {
    padding-top: 0;
    padding-left: 0;
    background-image: none;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    min-height: 500px;
  }

  .features__slogan {
    padding-top: 62px;
    font-size: 50px;
  }

  .features__slogan--answer {
    padding-top: 0px;
  }

  .features__title {
    padding-top: 99px;
    padding-bottom: 26px;
    font-size: 30px;
  }

  .features__description {
    font-size: 18px;
  }

  .timer__aside {
    align-items: stretch;
    margin: 0;
    padding-top: 34px;
    padding-bottom: 67px;
    width: 100%;
    background-color: @color-grey;
  }

  .timer__description {
    margin-right: 33px;
  }

  .timer__logo {
    background-size: 298px 345px;
    width: 298px;
    height: 345px;
  }

  .timer__value {
    font-size: 120px;
    line-height: 187px;
    font-weight: bold;
    width: 258px;
    height: 253px;
    background-size: 258px 251px;
    background-position: bottom left;
  }

  .timer__text,
  .timer__link {
    font-size: 18px;
  }

  .timer__text {
    max-width: 540px;
    margin-bottom: 28px;
  }

  .timer__title {
    margin-top: 99px;
    margin-bottom: 25px;
  }

  .features__item {
    padding-top: 265px;
    margin-right: 81px;
    max-width: 240px;
  }

  .features__item--mood {
    background-image: url("../img/iphone-screen-1-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: top center;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-1-desktop@2x.png");
      background-size: 292px auto;
    }
  }

  .features__item--world {
    background-image: url("../img/iphone-screen-2-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: top center;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-2-desktop@2x.png");
      background-size: 292px auto;
    }
  }

  .features__item--friends {
    background-image: url("../img/iphone-screen-3-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: top center;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-3-desktop@2x.png");
      background-size: 292px auto;
    }
  }
}
