.features {
  line-height: 24px;
  color: @color-darkblue;
  background-color: #ffffff;

  ul {
    list-style: none;
  }
}

.features__wrapper {
  background-color: @color-grey;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: 0% -1px;
  background-size: 100%;
}

.features__slogan__wrapper {
  margin: 0 auto;
  margin-top: 40px;
  max-width: 70%;
}

.features__slogan__text {
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 300;
  background-color: #ffffff;
}

.features__slogan__text--answer {
  padding-top: 29px;
}

.features__list {
  margin-top: 36px;
  padding-top: 73px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 778px;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 51% 109%;

  @media (min-resolution: @retina-dpi),
  (min-resolution: @retina-dppx) {
    background-image: url("../img/iphone-screen-mobile@2x.png");
    background-size: 157px auto;
  }
}

.features__item {
  margin: 0 auto;
  max-width: 260px;
}

.features__title {
  padding-bottom: 12px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  color: #000000;
}

.features__description {
  padding-bottom: 31px;
  font-size: 14px;
  font-family: "Open Sans", "Arial", sans-serif;
}

.timer__aside {
  margin: 0 auto;
  text-align: left;
  display: none;
}

.timer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 239px;
  height: 275px;
  margin-left: 20px;
  margin-right: 71px;
  background-image: url("../img/icon-timer.svg");
  background-size: 239px 275px;
  background-repeat: no-repeat;
}

.timer__title {
  margin-bottom: 10px;
  font-family: "Open Sans", "arial", sans-serif;
  font-size: 30px;
  line-height: 36px;
}

.timer__value {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  width: 202px;
  height: 202px;
  color: @color-red;
  font-family: "Open Sans", "arial", sans-serif;
  font-size: 96px;
  font-weight: 700;
  line-height: 149.5px;
  background-image: url("../img/icon-editor-diagram-fill.svg");
  background-size: 202px 202px;
  background-position: top center;
  background-repeat: no-repeat;
}

.timer__description {
  display: flex;
  flex-direction: column;
}

.timer__text {
  margin-bottom: 10px;
  max-width: 280px;
  font-family: "Open Sans", "arial", sans-serif;
  font-size: 14px;
}

.timer__link {
  font-size: 14px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: @color-red;
  text-decoration: underline;
}

@media (min-width: @tablet-width) {
  .features__slogan__wrapper {
    max-width: 100%;
    margin-top: 49px;
  }

  .features__slogan__text {
    font-size: 40px;
    line-height: 1.2;
  }

  .features__slogan__text--answer {
    padding: 0;
  }

  .features__list {
    margin-top: 48px;
    padding-left: 307px;
    padding-bottom: 9px;
    min-height: auto;
    text-align: left;
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-position: 20px 3px;

    @media (min-resolution: @retina-dpi),
    (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-3-tablet@2x.png");
      background-size: 268px auto;
    }
  }

  .timer__aside {
    padding-top: 58px;
    margin: 0 auto;
    display: flex;
    background-color: #ffffff;
  }

  .features__item {
    max-width: 307px;
  }

  .features__description {
    padding-bottom: 35px;
  }

  .timer__title {
    padding-top: 36px;
    max-width: 176px;
  }

  .timer__text {
    max-width: 306px;
  }
}

@media (min-width: @desktop-width) {
  .features {
    line-height: 30px;
    background-position: 50% 325px;
  }

  .features__list {
    padding-top: 0;
    padding-left: 0;
    width: 960px;
    margin: 0 auto;
    margin-top: 75px;
    background-image: none;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    min-height: 500px;
  }

  .features__item {
    padding-top: 265px;
    max-width: 240px;
    width: 100%;
  }

  .features__item--mood {
    background-image: url("../img/iphone-screen-1-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: top center;

    @media (min-resolution: @retina-dpi),
    (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-1-desktop@2x.png");
      background-size: 292px auto;
    }
  }

  .features__item--world {
    background-image: url("../img/iphone-screen-2-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: top center;

    @media (min-resolution: @retina-dpi),
    (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-2-desktop@2x.png");
      background-size: 292px auto;
    }
  }

  .features__item--friends {
    background-image: url("../img/iphone-screen-3-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: top center;

    @media (min-resolution: @retina-dpi),
    (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-3-desktop@2x.png");
      background-size: 292px auto;
    }
  }

  .features__slogan__text {
    padding-top: 19px;
    line-height: 58px;
    font-size: 50px;
  }

  .features__slogan__text--answer {
    padding: 0;
    margin-left: 12px;
    padding-top: 2px;
    line-height: 60px;
  }

  .features__title {
    padding-top: 91px;
    padding-bottom: 26px;
    font-size: 30px;
  }

  .features__description {
    font-size: 18px;
  }

  .timer__aside {
    padding-top: 22px;
    padding-bottom: 67px;
    width: 960px;
    margin: 0 auto;
    background-color: @color-grey;
  }

  .timer__description {
    margin-right: 33px;
  }

  .timer__logo {
    background-size: 298px 345px;
    width: 298px;
    height: 345px;
    margin-left: 10px;
    margin-right: 67px;
  }

  .timer__value {
    font-size: 120px;
    line-height: 187px;
    font-weight: bold;
    width: 258px;
    height: 253px;
    background-size: 258px 251px;
    background-position: bottom left;
  }

  .timer__text,
  .timer__link {
    font-size: 18px;
  }

  .timer__title {
    margin-top: 56px;
    margin-bottom: 19px;
    max-width: 100%;
  }

  .timer__text {
    max-width: 540px;
    margin-bottom: 31px;
  }
}
