.page-intro {
  background: url("../../img/bg-back-mobile@1x.jpg") no-repeat;
  background-size: cover; /*временно*/
}

.page-intro__title {
  padding-top: 35px;
  padding-bottom: 87px;
  color: #ffffff;
  font-family: "opensans light", "Arial", sans-serif;
  font-weight: normal;
  font-size: 24px;
}
