.page-footer--index {
  display: none;
}

.page-footer__wrappper {
  margin-top: 42px;
  display: flex;
  flex-direction: column;
}

.page-footer__link {
  margin: 0 auto;
  margin-bottom: 35px;
}

.page-footer__logo,
.developer__logo,
.social__logo {

  &:hover,
  &:focus {
    fill: @color-red;
  }

  &:active {
    opacity: 0.1;
  }
}

.page-footer__logo {
  fill: #000000;

}

.social__item {
  &:not(:last-child) {
    margin-right: 14px;
  }
}

.social__links {
  margin: 0 auto;
  margin-bottom: 33px;
  display: flex;
  align-items: center;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 3px solid rgba(@color-darkblue, 0.1);
  border-radius: 50%;
  position: relative;
  cursor: pointer;

  &:hover {
    border-color: #000000;
  }

  &:active {
    opacity: 0.1;
  }
}

.social__logo {
  fill: @color-red;
}

.developer {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.developer__text {
  color: @color-darkblue;
  font-family: "Open Sans", "Arial", sans-serif;
  margin-right: 14px;
  font-size: 14px;
  line-height: 18px;
}

.developer__link {
  margin-top: 7px;
}

.developer__logo {
  fill: @color-red;

  &:hover,
  &:focus {
    fill: #000000;
  }
}

@media (min-width: @tablet-width) {
  .page-footer--index {
    display: block;
  }

  .page-footer__link {
    margin: 0;
    margin-left: 20px;
    margin-right: 75px;
  }

  .page-footer__wrappper {
    margin-top: 23px;
    margin-bottom: 23px;
    flex-direction: row;
  }

  .social__links {
    margin: 0;
    margin-top: 8px;
    margin-right: 92px;
    flex-direction: row;
  }

  .social__item:not(:last-child) {
    margin-right: 14px;
  }

  .developer {
    margin: 0;
    flex-direction: row;
  }

  .developer__text {
    margin-right: 15px;
    margin-top: 8px;
    font-size: 18px;
    line-height: 18px;
  }

  .developer__link {
    margin-top: 14px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrappper {
    margin: 0 auto;
    margin-top: 46px;
    max-width: 979px;
  }

  .page-footer__link {
    margin-right: 232px;
  }

  .social__links {
    margin-top: 9px;
    margin-right: 231px;
  }

  .developer__text {
    margin-top: 3px;
    font-size: 18px;
  }

  .developer__link {
    margin-top: 16px;
  }
}
