.page-footer--index {
  display: none;
}

.page-footer__wrappper {
  display: flex;
  flex-direction: column;
}

.page-footer__logo {
  margin: 0 auto;
  margin-bottom: 51px;

  &:hover path,
  &:focus path {
    fill: @color-red;
  }

  &:active path {
    fill: rgba(@color-red, 0.3);
  }
}

.social__item {
  &:not(:last-child) {
    margin-right: 14px;
  }
}

.social__links {
  margin: 0 auto;
  margin-bottom: 47px;
  display: flex;
  align-items: center;
}

.social__link {
  border: 3px solid rgba(@color-darkblue, 0.1);
  border-radius: 100%;

  path {
    fill: @color-red;
  }

  &:hover,
  &:focus {
    border-color: #000000;
  }

  &:active {
    border-color: rgba(#000000, 0.1);

    path {
      fill: rgba(@color-red, 0.1);
    }
  }
}


.social__link--twitter {
  padding: 13px 13px 12px 14px;
}

.social__link--facebook {
  padding: 15px 18px 10px 17px;
}

.social__link--youtube {
  padding: 13px 13px 12px 15px;
}

.developer {
  margin: 0 auto;
  display: flex;
  align-items: center;
  color: @color-darkblue;
}

.developer__text {
  font-family: "Open Sans", "Arial", sans-serif;
  margin-right: 9px;
  font-size: 18px;
  line-height: 18px;
}

.developer__link {
  path {
    fill: @color-red;
  }

  &:hover path,
  &:focus path {
    fill: #000000;
  }

  &:active path {
    fill: rgba(@color-darkblue, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .page-footer--index {
    display: block;
  }

  .page-footer__logo {
    margin: 0;
    margin-left: 20px;
    margin-right: 75px;
  }

  .page-footer__wrappper {
    margin-top: 23px;
    flex-direction: row;
  }

  .social__links {
    margin: 0;
    margin-top: 8px;
    margin-right: 92px;
    flex-direction: row;
  }

  .social__item:not(:last-child) {
    margin-right: 14px;
  }

  .developer {
    margin: 0;
    flex-direction: row;
  }

  .developer__text {
    margin-right: 15px;
    margin-top: 8px;
    font-size: 14px;
    line-height: 18px;
  }

  .developer__link {
    margin-top: 14px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrappper {
    margin: 0 auto;
    margin-top: 46px;
    max-width: 979px;
  }

  .page-footer__logo {
    margin-right: 238px;
  }

  .social__links {
    margin-top: 9px;
    margin-right: 225px;
  }

  .developer__text {
    margin-top: 3px;
    font-size: 18px;
  }

  .developer__link {
    margin-top: 16px;
  }
}
