.page-intro {
  min-height: 230px;
  background-image: url("../../source/img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../../source/img/bg-back-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

.page-intro__title {
  padding-top: 35px;
  padding-bottom: 87px;
  color: #ffffff;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
}


@media (min-width: @tablet-width) {

  .page-intro {
    padding-top: 100px;
    background-image: url("../img/bg-back-tablet@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
    }
  }

}

@media (min-width: @desktop-width) {

  .page-intro {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: top center;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 2560px auto;
    }
  }
}
