.photos {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  color: @color-darkblue;
  line-height: 24px;
  font-size: 14px;
}

.photos__list {
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.photos__item {
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: left;
  background-color: @color-grey;
}

.photos__info {
  width: 280px;
}

.photos-day {
  position: relative;
}
.test {
  max-width: 340px;
}
.flag {
  position: absolute;
  top: 0;
  right: 20px;
}

.photos__flag {
  padding: 10px;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: @color-red;
}


.photos__title {
  padding-top: 56px;
  padding-bottom: 56px;
  line-height: 30px;
  font-weight: normal;
}

.photos__author-name {
  padding-bottom: 19px;
  padding-left: 17px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
}

.photos__time {
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
}

.photos__text {
  padding-bottom: 20px;
  padding-left: 17px;
}

.photos__likes {
  padding-bottom: 28px;
  padding-left: 17px;
  font-size: 12px;
  color: @color-red;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .photos__list {
    flex-direction: row;
    justify-content: space-around;
  }
}
