.photos {
  ul {
    list-style: none;
  }
}

.photos__list {
  margin: 0 auto;
  margin-bottom: 23px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.photos__item {
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;

  &.photos-day {
    margin: 0;
    margin-bottom: 20px;
  }
}

.photos__info {
  display: flex;
  flex-direction: column;
  margin-top: -7px;
  padding-bottom: 20px;
  width: 280px;
  max-width: 100%;
  background-color: @color-grey;
}

.photos-day {
  width: 100%;
  position: relative;

  .photos__info {
    margin: 0 auto;
    margin-top: -7px;
    width: 280px;
  }
}

.flag {
  position: absolute;
  top: 0;
  right: 21px;
}

.photos__flag {
  width: 140px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: @color-red;
}

.photos__title {
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 49px;
  font-size: 14px;
  max-width: 250px;
  text-align: center;
  line-height: 30px;
  font-weight: normal;
}

.photos__author-name {
  padding-top: 18px;
  padding-left: 17px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
}

.photos__time {
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
}

.photos__text {
  padding-bottom: 9px;
  padding-left: 17px;
}

.photos__likes {
  padding-left: 49px;
  font-size: 12px;
  color: @color-red;
  text-transform: uppercase;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 18px;
    top: 6px;
    width: 13px;
    height: 13px;
    background-image: url("../img/icon-heart.svg");
    background-repeat: no-repeat;
    background-size: 13px;
  }
}

@media (min-width: @tablet-width) {
  .photos-day {
    .photos__info {
      width: 620px;
      margin-bottom: 49px;
      padding-bottom: 17px;
      height: auto;
    }
  }
  .photos__picture--day {
    max-width: none
  }

  .photos__item {
    &.photos-day {
      margin-bottom: 16px;
    }
  }

  .photos__title {
    font-size: 18px;
    max-width: 440px;
    padding-top: 92px;
    padding-bottom: 76px;
  }

  .flag {
    top: 57px;
    right: 20px;
  }

  .photos__info {
    position: relative;
  }

  .photos__author-name {
    padding-top: 24px;
    padding-left: 27px;
  }

  .photos__text {
    padding-left: 27px;
    max-width: 549px;
  }

  .photos__likes:not(.photos__likes--day) {
    position: absolute;
    bottom: 22px;
    left: -22px;

    &::before {
      left: 277px;
      top: 5px;
    }
  }

  .photos__likes--day {
    position: absolute;
    top: 25px;
    right: 59px;

    &::before {
      top: 5px;
      left: 155px;
    }
  }

  .photos__list {
    width: 640px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .photos__info {
    width: 300px;
    height: 155px;
  }

}

@media (min-width: @desktop-width) {
  .photos__title {
    max-width: 608px;
    padding-bottom: 88px;
  }

  .flag {
    top: 54px;
    right: 130px;
  }

  .photos-day {
    .photos__info {
      width: 940px;
      margin-bottom: 48px;
    }
  }

  .photos__text {
    max-width: 913px;
  }

  .photos__likes--day {
    right: 62px;
  }

  .photos__list {
    width: 960px;
  }
  .photos__item {
    margin-bottom: 54px;
  }

}
