.price {
  padding-top: 89px;
  line-height: 30px;
  font-size: 14px;
  text-transform: uppercase;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: 0% -1px;
  background-size: 100%;
  background-color: @color-grey;
}
.price__wrapper {
  overflow: hidden;
}

.price__table {
  margin: 0 auto;
  margin-left: -258px;
  table-layout: fixed;
  border-collapse: collapse;
  font-family: "Open Sans", "Arial", sans-serif;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 30px;
}

.price__table__trasparent-cell {
  display: none;
}

.price__table__text {
  color: @color-darkblue;
  position: relative;
}

.price__table__symbol {
  position: absolute;
  top: 15px;
  right: 46px;

  &--yes,
  &--no {

    &::after {
      content: "";
      position: absolute;
      top: 0;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &--yes {
    &::after {

      background-image: url("../img/icon-yes-green.svg");
      background-size: 30px;
      width: 30px;
      height: 30px;
    }
  }

  &--no {
    &::after {
      background-image: url("../img/icon-no-red.svg");
      background-size: 27px;
      width: 27px;
      height: 27px;
    }
  }
}

.price__toggles {
  display: flex;
  align-items: center;
  width: 58px;
  margin: 0 auto;
  margin-top: 39px;
  justify-content: space-between;
  padding-bottom: 48px;

}

.price__category {
  color: #ffffff;
  vertical-align: middle;
  background-color: @color-darkblue;
  border: 2px solid #283645;
  border-left-color: #f2f2f2;
  border-right: none;
  border-top: none;

  &--popular {
    position: relative;

    &::before {
      content: "хит";
      text-transform: uppercase;
      color: #ffffff;
      font-family: "open sans", "arial", sans-serif;

      position: absolute;
      top: 12px;
      left: 2px;
      width: 40px;
      height: 30px;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      z-index: 1;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: -3px;
      width: 74px;
      height: 73px;
      background-image: url(../img/bg-hit.svg);
      background-size: 74px 73px;
    }
  }
}

.price__cell {
  position: relative;
  border: 2px solid #e5e5e5;
  min-width: 278px;
  padding: 15px 0px 14px 21px;
  background-color: #ffffff;
  text-align: left;
}

.price__title {
  margin-top: 17px;
  margin-bottom: 2px;
  font-size: 18px;
  font-weight: bold;
  font-family: "Open Sans", "arial", sans-serif;
}

.price__value {
  padding-bottom: 18px;
  font-size: 24px;
  font-weight: 300;
  font-family: "Open Sans", "arial", sans-serif;
}

@media (min-width: @tablet-width) {
  .price {
    padding-top: 91px;
  }

  .price__wrapper {
    width: 620px;
    margin: 0 auto;
    background-color: @color-grey;
    padding-bottom: 70px;
    margin-bottom: 36px;
  }

  .price__table {
    margin-left: 0;
    width: 100%;
  }

  .price__title {
    margin-top: 12px;
    margin-bottom: -3px;
    font-size: 16px;
  }

  .price__value {
    font-size: 18px;
    padding-bottom: 8px;
  }

  .price__table__text {
    display: none;
  }

  .price__toggles {
    display: none;
  }

  .price__table__category {
    text-transform: none;
  }

  .price__table__trasparent-cell {
    display: table-cell;
    background-color: @color-grey;
  }

  .price__cell {
    background-color: #ffffff;
    padding: 7px 0 8px 15px;
  }

  .price__table__left-cell {
    border-right: 2px solid @color-darkblue;
  }

  .price__table__symbol {
    top: 9px;
    left: 41%;
  }

  .price__category--popular {
    &::after {
      left: 0;
      background: url(../img/bg-hit-tablet.svg) no-repeat;
    }

    &::before {
      top: 3px;
      left: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .price {
    padding-top: 157px;
    background-position: 0 0;
  }

  .price__wrapper {
    width: 940px;
    padding-bottom: 95px;
  }

  .price__attr {
    padding: 17px 44px 14px 15px;
  }

  .price__title {
    margin-top: 16px;
    margin-bottom: 1px;
    font-size: 18px;
  }

  .price__value {
    font-size: 24px;
    padding-bottom: 18px;
  }

  .price__table__category {
    font-size: 18px;
  }

  .price__category--popular {
    &::after {
      background-image: url(../img/bg-hit.svg);
    }
    &::before{
      top:11px;
      left: 4px;
    }
  }

  .price__table__symbol {
    top: 17px;
    left: 44%;
  }

  .price__cell {
    padding: 14px 0px 13px 20px;
  }
}
