@font-face {
  font-family: "opensans";
  src:
    url("fonts/opensans.woff2") format("woff2"),
    url("fonts/opensans.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "opensans bold";
  src:
    url("./fonts/opensansbold.woff2") format("woff2"),
    url("fonts/opensansbold.woff") format("woff");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "opensans light";
  src:
    url("fonts/opensanslight.woff2") format("woff2"),
    url("fonts/opensanslight.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  min-width: 320px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
